body {
    font-family: Arial, sans-serif;
    background-image: url("images/NYUBrand_NYC_23.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    margin: 0;
    padding: 0;
}

.container {
    background-color: white;
    min-height: 100vh;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    padding: 20px;
}

.input-area {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
}

.input-area input {
    width: calc(100% - 40px);
    padding: 10px;
    font-size: 16px;
}

.input-area button {
    width: 30px;
    font-size: 20px;
}

.task-area {
    border: 1px solid plum;
}

.task-tabs {
    display: flex;
    border-bottom: 1px solid plum;
    position: relative;
    margin-bottom: 20px;
}

.task-tabs .tab {
    padding: 1em;
    cursor: pointer;
}

.task-tabs .tab.active {
    font-weight: bold;
}

#under-line {
    height: 4px;
    background-color: blueviolet;
    position: absolute;
    width: 80px;
    left: 0px;
    top: 52px;
    transition: 0.5s;
}

.task {
    display: flex;
    justify-content: space-between;
    padding: 1em;
    border-bottom: 1px solid #ccc;
}

.task-done {
    text-decoration: line-through;
}

.icon-btn {
    background: none;
    border: none;
    cursor: pointer;
    font-size: 20px;
}

/* 반응형 스타일 */
@media (max-width: 600px) {
    .input-area input {
        width: calc(100% - 40px);
        padding: 10px;
        font-size: 14px;
    }

    .input-area button {
        width: 30px;
        font-size: 18px;
    }

    .task {
        flex-direction: column;
        align-items: flex-start;
    }

    .task div:last-child {
        align-self: flex-end;
    }
}